<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServle</servlet-name>
  	<display-name>LoginServle</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller2.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet1</servlet-name>
  	<display-name>LoginServlet1</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FriendList</servlet-name>
  	<display-name>FriendList</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.FriendList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FriendList1</servlet-name>
  	<display-name>FriendList1</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.FriendList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServle</servlet-name>
  	<url-pattern>/LoginServle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet1</servlet-name>
  	<url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FriendList</servlet-name>
  	<url-pattern>/FriendList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FriendList1</servlet-name>
  	<url-pattern>/FriendList1</url-pattern>
  </servlet-mapping>
</web-app>
